.footer {
  padding: 100px 0 40px;
  background-color: var(--color-black);
  overflow: hidden;
  position: relative;
  z-index: 5;
}

.bgLogo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0.09;
  z-index: 0;
  background-image: url('/assets/img/MAAD-LOGO-02.png');
  background-size: 110% auto;
  background-position: center;
  background-repeat: no-repeat;
}

.bottomBar {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-family: var(--font-book);
  font-size: 14px;
}

.copyright {
  color: var(--color-white);
  flex: 1;
}

.socials {
  display: flex;
  gap: 20px;
  flex: 1;
  justify-content: center;
}

.socials a {
  color: var(--color-white);
  font-size: 12px;
  text-transform: uppercase;
  transition: color 0.3s ease;
  opacity: 0.6;
}

.socials a:hover {
  opacity: 1;
  color: var(--color-red);
}

.legalLinks {
  display: flex;
  gap: 30px;
  flex: 1;
  justify-content: flex-end;
}

.legalLinks a {
  color: var(--color-white);
  transition: color 0.3s ease;
}

.legalLinks a:hover {
  color: var(--color-red);
}

@media (max-width: 1024px) {
  .bottomBar {
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }
  
  .legalLinks, .socials {
    justify-content: center;
  }
}
